@import "~@angular/material/theming";
$app-primary: mat-palette($mat-blue);
$primary: mat-color($app-primary);

.search-container {
  width: 60%;
}

.contacts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts-list {
  width: 90%;
  list-style: none;
  padding: 0;
}
.contact-main-panel {
  background-color: #f8f8f8;
}
.contact {
  width: 100%;
  margin-bottom: 10px;
}

.contact-main-panel {
  height: fit-content;
}

.mat-expansion-panel-header {
  padding: 0;
  padding-right: 10px;
  padding-bottom: 10px;
  height: fit-content;
}

.img-container {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  margin-right: 10px;
  margin-left: 10px;
}

.contact-info-container {
  display: flex;
  width: 70%;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}
.contact-info {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-info p {
  margin: 0;
}

.contact-info-icon {
  margin: 0;
  margin-right: 3px;
  bottom: -6px;
  position: relative;
}
.additional-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  flex-direction: column;
}
.contact-name {
  font-size: 18px;
  font-weight: bold;
}

.contact-data {
  font-size: 14px;
  color: #666;
}

@media (max-width: 768px) {
  .contacts-list {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .contact-info {
    justify-content: space-around;
  }
  .img-container {
    width: 30px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact img {
    width: 30px;
    height: 30px;
    margin: 0;
  }
}
