<app-header class="header"></app-header>
<div class="contacts-container">
  <div class="search-container">
    <form class="search-form" [formGroup]="searchForm">
      <mat-form-field class="search-input">
        <mat-label>Search Contacts</mat-label>
        <input
          type="search"
          formControlName="contactSearched"
          matInput
          placeholder="Alan"
        />
        <mat-icon class="search-icon" matSuffix>search</mat-icon>
      </mat-form-field>
    </form>
  </div>

  <ul class="contacts-list">
    <li class="contact" *ngFor="let contact of filteredContacts">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/User-avatar.svg/1200px-User-avatar.svg.png"
        alt="Contact Avatar"
      />
      <div class="contact-info">
        <h2 class="contact-name">{{ contact.name }}</h2>
        <p class="contact-phone">Phone: {{ contact.phone }}</p>
        <p class="contact-email">Email: {{ contact.email }}</p>
      </div>
    </li>
  </ul>
</div>
