@import "~@angular/material/theming";
$app-primary: mat-palette($mat-blue);
$primary: mat-color($app-primary);

.search-container {
  width: 60%;
}

.contacts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts-list {
  width: 90%;
  list-style: none;
  padding: 0;
}

.contact {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 10px;
  background-color: #dee2e6;
  border-radius: 20px;
  border: 1px solid $primary;
}

.contact:hover {
  background-color: #f0f1f2;
  border: 2px solid $primary;
}

.img-container {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  margin-right: 10px;
  margin-left: 10px;
}

.contact-info-container {
  display: flex;
  width: 70%;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}
.contact-info {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.contact-info p {
  margin: 0;
}

.contact-info-icon {
  margin: 0;
  bottom: -6px;
  position: relative;
}

.contact-name {
  font-size: 18px;
  font-weight: bold;
}

.contact-email,
.contact-phone {
  font-size: 14px;
  color: #666;
}

@media (max-width: 768px) {
  .contacts-list {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .img-container {
    width: 40px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact img {
    width: 30px;
    height: 30px;
    margin: 0;
  }
}
