.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

h1 {
  font-size: 28px;
  flex: 80;
  text-align: center;
}

.icon-container {
  display: flex;
  align-items: center;
}
